* {
  text-align: center;
}
.app {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-items: center;
  margin: auto;
}
.name {
  width: 90%;
  color: #000;
  margin: 50px auto;
}

/* @media screen and (max-width: 875px) {
  .name {
    text-align: center;
    margin: 20px auto;
  }
} */
